workflow/incident_triage_workflow.yml
app:
  description: Automatizing the process of getting an issue from spreadsheet, calling
    the LLM model (using gemini flash) and send the output to Google App Script
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: incident_triage_workflow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.7@e12c712679171e20bacf59cd12e88efe8c2a508450cd23ce8424a91dc29353db
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1771193761236--1771194166095-target
      source: '1771193761236'
      sourceHandle: source
      target: '1771194166095'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1771194166095-source-1771198946498-target
      source: '1771194166095'
      sourceHandle: source
      target: '1771198946498'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: Descreva o problema
          max_length: 500
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: problem
      height: 109
      id: '1771193761236'
      position:
        x: 86
        y: 257.851301645003
      positionAbsolute:
        x: 86
        y: 257.851301645003
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1771193761236'
          - problem
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash-lite
          provider: langgenius/gemini/google
        prompt_template:
        - id: 4683e771-c301-4725-9335-ea6db2a8f9c3
          role: system
          text: 'Você é um especialista em operações. Analise o problema: {{#1771193761236.problem#}}.
            Responda estritamente no formato abaixo, separado por ponto e vírgula:
            URGÊNCIA; CATEGORIA; AÇÃO IMEDIATA (máximo 10 palavras)'
        - id: 3b751d50-b8b5-46aa-9f56-15b5597b7e8c
          role: user
          text: '{{#1771193761236.problem#}}'
        selected: false
        structured_output_enabled: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1771194166095'
      position:
        x: 405.48894439961055
        y: 257
      positionAbsolute:
        x: 405.48894439961055
        y: 257
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1771194166095'
          - text
          value_type: string
          variable: text
        selected: false
        title: Output
        type: end
      height: 88
      id: '1771198946498'
      position:
        x: 708.6376427546076
        y: 257
      positionAbsolute:
        x: 708.6376427546076
        y: 257
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 289.75848276830766
      y: 135.4642804478666
      zoom: 0.8705505632961241
  rag_pipeline_variables: []
